<h1><%- title %></h1>
<%- messages() %>
<% if (errors) {%>
    <ul class="notice">
    <%  errors.array().forEach(error => { %>
        <li> <%=error.msg %></li>
    <% }) %>
    </ul>
    <% } %>
<form class="cse-motor-form" action="/account/login" method="post">
    <fieldset>
        <legend>Login Information</legend>
        <label class="form-label">Email
            <input type="email" name="account_email" placeholder="someone@emailprovider.com" value="<%= locals.account_email %>" required>
        </label>
        <label class="form-label">Password 
            <input type="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
        </label>
        <input type="submit" name="loginBtn" value="Login">
        <span class="registration-link">No account? <a href="register">Sign-up</a></span>
    </fieldset>
</form>