/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/************ COLORS *************/

:root {
  --primary: #333333;
  --secondary: #666666;
  --auxiliary: #FFA500; /*rgba(255, 165, 0, 0.6);*/
  --accent-1: #0077CC; /*rgba(0, 119, 204, 0.2)*/
  --accent-2: #5E7F64;
}


h1,
h2,
h3,
h4 {
  font-family: "Source Sans 3", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

/************ HEADER *************/

#top-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.siteName > a , #tools > a{
  text-decoration: none;
}

.siteName {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

#tools {
  text-align: right;
}



/************ NAVIGATION *************/

#wrapper {
  width: 100%;
}

nav ul li{
  list-style-type: none;
  display: block;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.8rem 0.6rem;
}

nav ul li a:hover {
  color: var(--primary);
  background-color: white;
}

nav {
  width: 100%;
  background-color: var(--primary);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  
}

@media screen and (max-width: 365px) {
  nav ul li a {
    font-size: 0.8rem;
  }
}


/************ HERO *************/

.hero {
  position: relative;
}

.hero h1 {
  padding-left: 0.5rem;
}

.cta-container {
  position: absolute;
  top: 3rem;
  max-width: 40%;
  background-color: rgba(255, 165, 0, 0.2);
  padding: 10px;
}

.cta-btn {
  background-color: var(--auxiliary);
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 0.4rem 0.2rem;
  font-weight: bold;
  font-size: 1rem;
}

.cta-btn:hover {
  background-color: rgba(94, 127, 100, 0.9);
  color: white;
}



p.prop:last-child {
  margin-bottom: 1rem;
}

p.prop:first-child {
  font-size: 1.1rem;
}

p.prop {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 0.9rem;
}


.pic-wrapper {
  width: 100%;
}

picture > img {
  width: 100%;
}


/************ MAIN *************/

.car-char-container {
  display: grid;
  grid-template-columns: 1fr;
}

.reviews {
  grid-row: 1/2;
}

.reviews ul {
  text-align: left;
  padding-left: 5%;
}

.reviews ul li {
  margin:1rem 0px;
}

.upgrades {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.upgrades h2 {
  grid-column: 1/3;
}

.upgrade {
  display: flex;
  flex-direction: column;
  text-align: center;
 
}

.up-img-container {
  width: 100%;
  background-color: rgba(255, 165, 0, 0.6);
  height: auto;
}

.upgrade img {
  width: 100px;
  height: 100px;
  object-fit:fill;
  display: block;
  margin: 1rem auto; 
}


/************ VEHICLE GRID *************/

#inv-display {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: 0 auto;
  justify-items: center;
}

#inv-display li{
  text-align: center;
  padding: 0;
  border-radius: 20px;
  border: solid thin black;
  width: 200px;
}

.namePrice hr {
  margin: 0.1rem 0;
  height: 5px;
  background-color: black;
  width: 100%;
  padding: 0;
}

.namePrice {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.namePrice h2 {
  font-size: 1.3rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

#inv-display li img{
  width: 100%;
  height: 50%;
  object-fit:scale-down;
  border-radius: 20px;
}


/************ CAR DETAIL PAGE *************/

.car-title {
  text-align: center;
  font-size: 2rem;
}

.car-img-container {
  width: 100%;
  margin: 1.5rem 0px;
}

.car-img-container img {
  width: 100%;
  border: var(--accent-2) solid 2px;
}

.car-details-subsection h3 {
  font-size: 1.5rem;
  color: var(--primary);
}

.car-details-subsection span{
  display: block;
  margin: 1rem 0px;
}

.car-price {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--primary);
}

/************ ERROR *************/

.error-img {
  width: 100%;
}

/************ FOOTER *************/

footer {
  margin-top: 2rem;
}


@media screen  and (min-width: 481px) {
  
body {
  max-width: 800px;
  margin: 3rem auto;
  border: 5px solid var(--auxiliary);
  border-radius: 10px;
  padding: 0.8rem;
  background-color: white;
}

html {
  background-image: url("../images/site/small_check.jpg");
  background-size: cover;
}

/************ HERO *************/

.hero {
  margin-bottom: 2rem;
}

.hero h1 {
  font-size: 2rem;
}

.pic-wrapper {
  width: 70%;
  margin: 0 auto;
}


.cta-container {
  max-width: 60%;
  top: 25%;
  left: 5%;
  background-color: rgba(255, 165, 0, 0.7);
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.cta-container:last-child {
  text-align: center;
}

p.prop:first-child {
  font-size: 2rem;
}

p.prop {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 1.5rem;
}



a.cta-btn {
  margin: 2rem auto;
  font-size: 1.5rem;
  padding: 0.8rem 1.8rem;
}

/************ MAIN *************/

.car-char-container {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.reviews {
  grid-row: 1/2;
  grid-column: 2/3;
}

.upgrades {
  grid-row: 1/2;
  grid-column: 1/2;
}

.reviews h2 {
  margin-bottom: 2rem;
}

.reviews ul li {
  font-size: 1.2rem;
}


/************ CAR DETAIL PAGE *************/

.car-details-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.car-title {
  grid-column: 1/3;
  margin: 2rem 0 0 0;
}

.car-img-container {
  grid-column: 1/2;
}

.car-details-subsection {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.car-details-subsection h3 {
  margin: 0;
}

}